# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
#*/1 *  * * *   pi      python3 /home/pi/ruuvitag/ruuvitag-logger.py > /home/pi/ruuvitag/ruuvitag.log 2> /home/pi/ruuvitag/ruuvitag.err
# m h dom mon dow user	command
17 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
25 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
#

*/01 *  * * *   pi      cd /home/pi/azure-iot-samples-python-master/iot-hub/Quickstarts/simulated-device-2/ && python ruuvi_to_connxt.py
*/3 *  * * *   pi      cd /home/pi/azure-iot-samples-python-master/iot-hub/Quickstarts/simulated-device-2/ && (python SendGatewayDeviceStatus.py ; python SendRT1DeviceStatus.py ; python SendRT2DeviceStatus.py ; python SendRT3DeviceStatus.py ; python SendRT4DeviceStatus.py ; python SendRT5DeviceStatus.py ; python SendRT6DeviceStatus.py ; python SendRT7DeviceStatus.py ; python SendRT8DeviceStatus.py ; python SendRT9DeviceStatus.py ; python SendRT10DeviceStatus.py ; python SendRT11DeviceStatus.py ; python SendRT12DeviceStatus.py)